# Pandas Training

User guide: https://pandas.pydata.org/docs/user_guide/index.html

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from PIL import Image
from PIL import ImageMath

## `pandas.Series`

* one-dimensional labelled array
* `index` array is labels for the elements.

```
s = pd.Series(data, index=index)
```

In [ ]:
x = pd.Series(np.arange(20), name="x values", index=[f"x={t}" for t in range(20)])  # from numpy ndarray
# print(x)

In [ ]:
y = np.sin(math.pi * x / 10)  # vectorised operation, using np.sin() vectorised operators.

## `pandas.DataFrame`

Reference https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe

In [ ]:
xy = pd.DataFrame({
    "x": x,
    "y": y,
})
print(xy)

In [ ]:
xy["y10"] = xy["y"] * 10
print(xy)

In [ ]:
xy.plot("x", "y10")